body,
div,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html,
body {
    /* margin: 0;
            background-image: url(img/bg.jpg);
            background-position: fixed;
            background-size: cover;
            overflow: hidden; */
    width: 100%;
    height: 100%;
    background: url("img/bg.jpg") no-repeat;
    background-size: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    margin: 0 20%;
    text-align: center;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.titleImg {
    width: 100%;
    margin: 50px 0 0 0;
}

body {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #567635;
    margin: 0;
    padding: 0;
}

.swiper-container {
    position: absolute;
    top: 20%;
    left: 8%;
    right: 8%;
    width: 84%;
    height: 58%;
    margin: 0 auto;
}

.swiper-slide {
    overflow-y: auto;
    overflow-x: hidden;
}

.main {
    height: 80%;
}

.buttoncontainer {
    position: absolute;
    width: 100%;
    left: 29%;
    top: 70%;
    margin: 80px 2px 0px 5px;
}

.button {
    width: 40%;
    height: 45%;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: Adobe 黑体 Std;
    font-weight: bold;
    display: block;
    text-align: center;
    position: relative;
    /* BACKGROUND GRADIENTS */
    background: #89ba80;
    /* BORDER RADIUS */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    /* TEXT SHADOW */
    text-shadow: 1px 1px 1px black;
    /* BOX SHADOW */
    -moz-box-shadow: 0 1px 3px black;
    -webkit-box-shadow: 0 1px 3px black;
    box-shadow: 0 1px 3px black;
}


/* WHILE HOVERED */

.button:hover {
    background: #7aa473;
    background: -moz-linear-gradient(top, #7aa473, #5b9151 50%, #347229 51%, #1b4e11);
    background: -webkit-gradient(linear, top, bottom, color-stop(0, #5b9151), color-stop(.5, #347229), color-stop(.51, #1b4e11), to(#144e08));
}


/* WHILE BEING CLICKED */

.button:active {
    box-shadow: 0 2px 6px black;
    -moz-box-shadow: 0 2px 6px black;
    -webkit-box-shadow: 0 2px 6px black;
}

.control-group {
    margin-bottom: 20px;
}

.controls {
    display: inline;
    margin-left: 3%;
}

.inputGroup {
    width: 50%;
    height: 20px;
}

.introduce {
    margin-top: 5%;
    display: block;
    width: 80%;
    height: 100px;
    margin-left: 13%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #567635;
    border-radius: 2px;
}

.introduce:focus {
    border: 1px solid #567635;
    outline-color: #567635;
}

.radish {
    margin-right: 2%;
    width: 10%;
}

.inputGroup {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #567635;
    padding: 5px 3px;
    border-radius: 5px;
}

.inputGroup:focus {
    border: 1px solid #567635;
    outline-color: #567635;
    border-radius: 9px;
}

.choose {
    width: 50%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #567635;
    padding: 5px 3px;
    border-radius: 5px;
}

.choose select {
    /*清除select的边框样式*/
    border: none;
    /*清除select聚焦时候的边框颜色*/
    outline: none;
    /*将select的宽高等于div的宽高*/
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*隐藏select的下拉图标*/
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*通过padding-left的值让文字居中*/
    padding-left: 20px;
}